{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier",
    "react",
    "@typescript-eslint",
    "react-hooks",
    "import"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "commonjs": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@csnow", "./app/javascript"]
        ]
      }
    }
  }
}